@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url('./fonts/OpenSans-CondLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin';
  font-style: normal;
  src: url('./fonts/JosefinSlab-Regular.ttf') format('truetype');
}

body {
  font-family: 'OpenSans', sans-serif;
  color: darkblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section-header {
  width: 100%;
  font-size: 20pt;
  font-family: 'Josefin', serif;
  text-align: center;
  margin: 50px 0 50px 0;
}

.position {
  font-size: 14pt;
  font-family: 'Josefin', serif;
}

#name {
  font-size: 26pt!important;
}

a {
  text-decoration: none;
  color: inherit!important;
}

a:hover {
  text-decoration: none;
  border-bottom: 0.5px dotted darkgreen;
  color: inherit!important;
}

ul {
  list-style-type: circle;
}

.header-container, .work-tile-container, .bio-container, .awards-container {
  width: 100%;
  padding: 40px 20px 55px 20px;
}

.header-container, .bio-container {
  background-color: #f0f0f0;
}

.work-tiles, .awards-tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-tile {
  width: 20%;
  min-width: 250px;
  min-height: 275px;
  border: 1px solid darkblue;
  padding: 15px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-tile-title, .awards-script {
  text-transform: uppercase;
  font-family: 'Josefin', serif;
  font-size: 14pt;
  text-align: center;
  margin: 15px 0 0 0;
}

.work-tile-title > span {
  font-size: 10pt!important;
  font-family: 'OpenSans'!important;
  text-transform: none!important;
}

.work-tile-logline {
  padding: 5%;
  text-align: justify;
}

.work-tile-meets {
  font-family: 'Josefin', serif;
  text-align: center;
  margin: 0 0 15px 0;
}

.bio-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bio-text {
  width: 60%;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 48px;
  font-family: 'OpenSans', sans-serif;
  font-size: 16pt;
  line-height: 175%;
}

.extra-award-info {
  font-size: 10pt;
  font-family: 'Josefin', serif;
}

#sub-heading {
  font-size: 12pt;
  font-family: 'OpenSans', serif;
  margin-top: -20px;
}

.awards-tile {
  width: 20%;
  min-width: 180px;
  min-height: 80px;
  border: 1px solid darkblue;
  padding: 20px 25px 20px 15px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  margin: 20px;
}
