@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url('./fonts/OpenSans-CondLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin';
  font-style: normal;
  src: url('./fonts/JosefinSlab-Regular.ttf') format('truetype');
}

body {
  font-family: 'OpenSans', sans-serif;
  color: darkblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.back-button {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.4);
  background-color: darkblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  right: 20px;
  top: 20px;
}

.back-button > span {
  color: #f0f0f0!important;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
}

.back-button > span:hover {
  color: #f0f0f0!important;
  text-decoration: none!important;
}

.header {
  text-align: center;
  font-family: 'Josefin', serif;
}

#name, .section-header, .position {
  font-family: 'Josefin', serif;
}

#name { font-size: 26pt; }

.section-header {
  font-size: 20pt;
  text-align: center;
}

.position {
  font-size: 14pt;
}

#contact-info {
  font-family: 'OpenSans', sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: inherit!important;
}
a:hover {
  text-decoration: none;
  border-bottom: 0.5px dotted darkgreen;
  color: inherit!important;
}

ul {
  list-style-type: circle;
}

.header-container, .work-experience-container, .education-container, .trainings-container, .awards-container, .references-container {
  width: 100%;
  padding: 40px 20px 40px 20px;
}

.header-container, .education-container, .awards-container {
  background-color: #f0f0f0;
}

.work-experience, .education, .trainings, .awards, .references {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work-experience-tile {
  width: 25%;
  min-width: 300px;
  min-height: 275px;
  border: 1px solid darkblue;
  padding: 35px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  margin: 10px;
}

.education-tile, .awards-tile {
  width: 30%;
  border: 1px solid darkblue;
  padding: 35px;
  margin-bottom: 30px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  vertical-align: middle;
}

.references-tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%!important;
  min-width: 100px;
  border: 1px solid darkblue;
  padding: 35px;
  margin-bottom: 30px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.education-tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.degree {
  font-family: 'Josefin', serif;
  font-size: 14pt;
  margin-bottom: 15px;
}

.training-name, .training-teacher, .training-date {
  width: 15%;
  font-size: 12pt;
  padding: 5px;
}

.extra-info {
  font-size: 10pt;
  font-family: 'Josefin', serif;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

@media screen and (max-width: 500px) {
  .work-experience, .education, .trainings, .awards, .references {
    flex-direction: column!important;
    flex-wrap: nowrap!important;
    justify-content: center!important;
  }

  .work-experience-tile, .education-tile, .awards-tile, .references-tile {
    min-width: 200px!important;
    margin: 10px auto!important;
  }
  
  .back-button {
    width: 50px!important;
    height: 50px!important;
    border-radius: 50px!important;
  }
  
  .back-button > span {
    font-size: 10pt!important;
  }
}

