@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  src: url('./fonts/OpenSans-CondLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin';
  font-style: normal;
  src: url('./fonts/JosefinSlab-Regular.ttf') format('truetype');
}

body {
  font-family: 'OpenSans', sans-serif;
  color: darkblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.back-button {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.4);
  background-color: darkblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  right: 20px;
  top: 20px;
}

.back-button > span {
  color: #f0f0f0!important;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
}

.back-button > span:hover {
  color: #f0f0f0!important;
  text-decoration: none!important;
}

.header {
  text-align: center;
  font-family: 'Josefin', serif;
}

#name, .section-header, .position {
  font-family: 'Josefin', serif;
}

#name { font-size: 26pt; }

.section-header {
  font-size: 20pt;
  text-align: center;
}

.position {
  font-size: 14pt;
}

.year {
  font-size: 10pt;
}

#contact-info {
  font-family: 'OpenSans', sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: inherit!important;
}
a:hover {
  text-decoration: none;
  border-bottom: 0.5px dotted darkgreen;
  color: inherit!important;
}

ul {
  list-style-type: none;
  /*margin-left: -5px;*/
  padding: 0;
}

li {
  padding-left: 0.75em;
}

li:before {
  content: "\f105"; /* FontAwesome Unicode */
  font-size: 80%;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -0.75em;
  width: 0.75em;
}

.tile {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.tile:hover, .back-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header-container, .work-experience-container, .education-container, .trainings-container, .awards-container, .references-container, .links-container {
  width: 100%;
  padding: 40px 20px 40px 20px;
}

div.container:nth-of-type(odd) {
  background-color: #f0f0f0;
}

div.container:nth-of-type(odd) .tile {
  background-color: #f6f6f6;
}

.work-experience, .education, .trainings, .awards, .references, .links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px;
}

.work-experience-tile {
  width: 20%;
  min-width: 250px;
  height: 325px;
  border: 1px solid darkblue;
  padding: 35px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  margin: 12px;
}

.education-tile, .awards-tile {
  width: 20%;
  min-width: 250px;
  min-height: 200px;
  border: 1px solid darkblue;
  padding: 35px;
  margin-bottom: 30px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  vertical-align: middle;
}

.references-tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%!important;
  min-width: 100px;
  max-width: 250px;
  border: 1px solid darkblue;
  padding: 35px;
  margin-bottom: 30px;
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
}

.references-tile span {
  font-size: 16pt;
  margin-bottom: 10px;
}

.education-tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.degree, .script-title {
  font-family: 'Josefin', serif;
  font-size: 14pt;
  margin-bottom: 15px;
}

.training-name, .training-teacher, .training-date {
  width: 15%;
  font-size: 14pt;
  padding: 5px;
}

.extra-info {
  font-size: 10pt;
  font-family: 'Josefin', serif;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.links-container {
  justify-content: center!important;
}

.link-tile i {
  font-size: 18pt;
}

.link-tile > a:hover {
  border-bottom: 0px!important;
}

.fa:hover {
  color: darkgray;
}

@media screen and (max-width: 500px) {
  .work-experience, .education, .trainings, .awards, .references {
    flex-direction: column!important;
    flex-wrap: nowrap!important;
    justify-content: center!important;
    padding: 0!important;
  }

  .links {
    justify-content: center;
    padding: 65px 10px 65px 10px;
  }

  .links-container {
    height: 150px;
    padding: 0;
    margin: 0;
  }

  .link-tile {
    margin: 0 auto;
  }

  .link-tile i {
    font-size: 13pt!important;
  }

  .work-experience-tile, .education-tile, .awards-tile, .references-tile {
    min-width: 200px!important;
    margin: 10px auto!important;
  }

  .back-button {
    width: 50px!important;
    height: 50px!important;
    border-radius: 50px!important;
  }

  .back-button > span {
    font-size: 10pt!important;
  }

  li {
    margin-left: -15px!important;
  }
}

