@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --primary: #614bc3;
  --secondary: #33bbc5;
  --accent: #85e6c5;
  --accent-2: #c8ffe0; */
  --primary: #002b5b;
  --secondary: #1a5f7a;
  --accent: #159895;
  --accent-2: #57c5b6;
  /* --primary: #002b5b;
  --secondary: #1a5f7a;
  --accent: #159895;
  --accent-2: #57c5b6; */
  /* --primary: #6527be;
  --secondary: #9681eb;
  --accent: #45cfdd;
  --accent-2: #a7ede7; */
}

body {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
}

.text-primary {
  color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.border-primary {
  border-color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.border-secondary {
  border-color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}
.bg-accent {
  background-color: var(--accent);
}
.border-accent {
  border-color: var(--accent);
}

.text-accent-2 {
  color: var(--accent-2);
}
.bg-accent-2 {
  background-color: var(--accent-2);
}
.border-accent-2 {
  border-color: var(--accent-2);
}
